@{
    ViewData["Title"] = "Contact Us";
}


<div class="text-center">
    <h1 class="display-4">Thanks for contacting Us!</h1>
    <p>We will be in touch shortly.</p>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>
</div>
