@{
    ViewData["Title"] = "About Us";
}

<div class="text-left">
    <h1 class="display-4">About Us</h1>
</div>


@*<p><a asp-controller="Requests" asp-action="Create">Create a new request</a></p>


<a asp-controller="Requests" asp-action="Index">View available study groups</a>*@
