@{
    ViewData["Title"] = "About Us - ";
}


<div class="text-center">
    <h1 class="display-4">-Our Mission-</h1>
    <p>To gather people around for free study groups.</p>
</div>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>At GroupUp we want to help you study for free. Everyone knows that hiring a tutor can be expensive. GroupUp is a website where you can find study groups for free. We also allow our users to create study groups.  </p>
</div>

<div class="text-center">
    <h1 class="display-4">How we work</h1>

</div>
<ol type="1-center">
    <li>Sign Up</li>
    <li>Select the topic you are studying</li>
    <li>Enter your location</li>
    <li>Find/create study groups</li>
</ol>
