@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p><a asp-controller="Requests" asp-action="Create">Create a new request</a></p>


<a asp-controller="Requests" asp-action="Index">View available study groups</a>